body{
	font-family:verdana, arial, sans-serif;
	font-size:13px;
}
#main-bg{
	border-top:4px solid #042D42;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#036CA0), to(#BDDEEF));
	background: -webkit-linear-gradient(#036CA0, #BDDEEF);
	background: -moz-linear-gradient(#036CA0, #BDDEEF);
	background: -ms-linear-gradient(#036CA0, #BDDEEF);
	background: -o-linear-gradient(#036CA0, #BDDEEF);
	background: linear-gradient(#036CA0, #BDDEEF);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#036CA0', endColorstr='#BDDEEF');/*For IE7-8-9*/ 
}
.container{
	margin:0 auto;
	width:1000px;
}

#main-content{
	background:#DADADA;
	width:100%;
}

#wrapper{
	padding:30px 20px;
	background:#9CCEDE;
}

#wrapper h3{
	font-size:24px;
	padding:10px 0;
}
#wrapper p{
	font-size:14px;
	padding:20px 0;
}
#form-wrapper{

}
.first-col{
	background:#BDDEEF;
		-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
  border-top-left-radius:12px;
		-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
  border-bottom-left-radius:12px;
	height:870px;
	float:left;width:225px;
	margin-right:20px;
}

.second-col{
		-webkit-border-radius:12px;
	-moz-border-radius:12px;
  border-radius:12px;
	height:870px;
	background:#ADD6E7;
	padding:20px 0;
}
label.row-label{
	white-space: nowrap;
}
.row-label label{
	font-size:12px;
}
.result-label{
	width:190px;float:left;
}
.result-footer{
	margin-bottom:30px;
}
.row-1{
	padding:5px 0;
}
.row-1 input, .row-1 select{
	width:280px;
	padding:2px 2px;
	height:20px;
	margin:5px 0;
}
.json-result div.row-1{
	padding:3px 0;
}
strong{
	font-weight:bolder;
	font-size:14px;
}
#footer{
	clear:both;
	color:#636363 !important;
	background: url(../images/bg-footer.jpg) repeat-x;
	height:63px;
}
#footer h4{
	padding:15px 0;
}
#footer span{
	font-size:10px;
}
.notification{
	color:#FF0000;
	font-size:9px;
}